<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css">
</head>
<body class="search-page">
    <div class="header">
        <a href="/"><i class="ti ti-arrow-left"></i></a>
        <h2>"{{ keyword }}" keyword search result</h2>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>position</th>
                <th>company name</th>
                <th>description</th>
                <th>link</th>
            </tr>
            {% for item in results %}
            <tr>
                <td>{{ item["title"] }}</td>
                <td>{{ item["company_name"] }}</td>
                <td>{{ item["description"] }}</td>
                <td><a href="{{ item["link"] }}" target="_blank">View Job</a></td></td>
            </tr>
            {% endfor %}        
        </table>
    </div>
</body>
</html>